<?xml version="1.0"?>
<configuration>
    <configSections>
      <section name="FileManagerLibraryCustomSettings" type="FileManagerLibrary.Config.FileManagerLibraryUserSettingsConfiguration, FileManagerLibrary" allowLocation="true" allowDefinition="Everywhere"/>
    </configSections>
  <appSettings>
    <add key="UserContext" value="HomePCDebug"/> <!--Use UserName from below. Eg: HomePCDebug/WorkPC/HomePC-->
    <add key="UseSafeMode" value="False"/> <!--Enable a safe mode which prevents deleting the files through the application-->
  </appSettings>
  <FileManagerLibraryCustomSettings>
    <UserSettings>
        <!--
        
        <#### SECTION 1 ####>
        AllowPerUserSettings will be used only if 'AppSettingsNetworkLocation' is "". 
        
        If AllowPerUserSettings is used then if it is 'True', the config data can be found in users documents. 
        Else config data can be found in ~OS\All Users\AppData Folder\FileBackupManagerData\<<Username>>\.
        
        NOTE: If you enter a path make sure you end it with a '\'.
        
        FOllowing are the possible cases.
        
        1.0) AllowPerUserSettings="True" 
        1.1) AllowPerUserSettings="False"
                with
        2.0) AppSettingsNetworkLocation="\\subdomain.domain.com\workgroup\\Backups\ST\FileManager Backup\"
        2.1) AppSettingsNetworkLocation="C:\Program Files\FileBackupManager\FileManagerTool\Logs\"
        2.2) AppSettingsNetworkLocation=""
        
        <#### SECTION 2 ####>
        
        FileLockoutWaitTimeOutSeconds="120" - 120 seconds = 2 minute. increase this value if you have files which may remain locked for long time/huge sized files.
        
        -->      
      <add UserName="HomePCDebug">
        <Settings AllowPerUserSettings="False" OverWriteUnChangedFiles="False" AppSettingsNetworkLocation="" FileLockoutWaitTimeOutSeconds="120" WindowsServiceDisplayName="File Manager Service Debug" WindowsServiceName="FileManagerServiceDebug" WindowsServiceDescription="File manager service for debugging purposes"/>
      </add>
      <add UserName="WorkPC">
        <Settings AllowPerUserSettings="True" OverWriteUnChangedFiles="False" AppSettingsNetworkLocation="" FileLockoutWaitTimeOutSeconds="120" WindowsServiceDisplayName="File Manager Service WorkPC" WindowsServiceName="FileManagerServiceWorkPC" WindowsServiceDescription="File Manager Service WorkPC"/>
      </add>
      <add UserName="HomePC">
        <Settings AllowPerUserSettings="False" OverWriteUnChangedFiles="False" AppSettingsNetworkLocation="" FileLockoutWaitTimeOutSeconds="120" WindowsServiceDisplayName="File Manager Service HomePC" WindowsServiceName="FileManagerServiceHomePC" WindowsServiceDescription="File Manager Service HomePC"/>
      </add>
    </UserSettings>
  </FileManagerLibraryCustomSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
